main.content {
  margin: 0 auto;
  @include media(tablet) {
    @include grid-width(20);
  }
  @include media(desktop) {
    @include grid-width(28);
  }
  @include media(wide) {
    @include grid-width(34);
  }

  * {
    @include vp-box-sizing(border-box);
  }
}

#images-container {
  margin-top: space(5);
  @include media(tablet) {
    @include vp-display(flex);
    @include vp-flex-flow(row wrap);
    @include vp-justify-content(space-around);
  }
  @include media(desktop) {
    margin-top: space(7);
  }
}
