.flickr-box-template {
  display: none;
}

.flickr-box {
  padding: space(3);
  background-color: darken($white, 2%);
  transition: all .3s cubic-bezier(.25,.8,.25,1);
  @include columns(16);
  @include border-radius(4px);
  @include vp-box-shadow(0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23));

  &:hover {
    @include vp-box-shadow(0 10px 20px rgba(0,0,0,.19), 0 6px 6px rgba(0,0,0,.23));
    .photo {
      @include vp-transform(scale(1.1));
    }
  }

  @include media(belowtablet) {
    margin: 0 auto space(3);
  }
  @include media(tablet) {
    margin-bottom: space(3);
  }
  @include media(desktop) {
    @include columns(14);
  }
  @include media(wide) {
    @include columns(12);
  }
}

.flickr-photo-wrapper {
  height: 160px;
  overflow: hidden;
  @include border-radius(4px);
  @include vp-box-shadow(0 0 3px $light-grey);

  .photo {
    display: block;
    width: 100%;
    min-height: 160px;
    height: auto;
    @include vp-transition(all .2s ease-in-out);
  }
}

.flickr-content-wrapper {
  margin-top: space(2);
  background-color: darken($white, 2%);

  a {
    font-size: 15px;
    line-height: 18px;
    color: $blue-grey;
    text-decoration: none;

    &:hover {
      color: darken($blue-grey, 10%);
      text-decoration: underline;
    }
  }

  .description,
  .tags {
    font-size: 15px;
    margin-top: space(2);
    color: darken($black, 50%);
    .label {
      font-family: Calibri, sans-serif;
      color: $light-grey;
    }
    p {
      margin: 0;
      display: inline;
    }
  }

  .description {
    br {
      display: none;
    }
  }

  .tags {
    p.tags-available {
      display: block;
    }
    .tag {
      display: inline-block;
      margin-right: space(1);
      max-width: 250px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 0 space(1);
      background-color: lighten($blue-grey, 40%);
      font-size: 12px;
      @include border-radius(4px);

      &:hover {
        color: darken($white, 2%);
        background-color: lighten($blue-grey, 30%);
        cursor: pointer;
      }
    }
  }
}
